<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
      <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
      <title>Pin Recognition System</title>
      <meta name=”viewport” content=”width=device-width, initial-scale=1″>
      <link rel="stylesheet" href="static/style.css">

<style>
a {
font-family: 'Google Sans','Noto Sans Myanmar UI',arial,sans-serif;
}
.msg {
	margin: 5px auto;
	border-radius: 5px;
	border: 1px solid red;
	background: pink;
	text-align: left;
	color: brown;
	padding: 10px;

}
</style>
</head>
{% block content %}{% endblock %}
